<div id="tastes">
<h6 class="intr ser mx-auto">Наши вкусы</h6>
  <ul id="carus">
    <li><%= image_tag("tastes/t1.jpg")%></li>
    <li><%= image_tag("tastes/t2.jpg")%></li>
    <li><%= image_tag("tastes/t3.jpg")%></li>
    <li><%= image_tag("tastes/t4.jpg")%></li>
    <li><%= image_tag("tastes/t5.jpg")%></li>
    <li><%= image_tag("tastes/t6.jpg")%></li>
    <li><%= image_tag("tastes/t7.jpg")%></li>
    <li><%= image_tag("tastes/t8.jpg")%></li>
    <li><%= image_tag("tastes/t9.jpg")%></li>
    <li><%= image_tag("tastes/t1.jpg")%></li>
    <li><%= image_tag("tastes/t10.jpg")%></li>
    <li><%= image_tag("tastes/t11.jpg")%></li>
    <li><%= image_tag("tastes/t12.jpg")%></li>
    <li><%= image_tag("tastes/t13.jpg")%></li>
    <li><%= image_tag("tastes/t14.jpg")%></li>
    <li><%= image_tag("tastes/t15.jpg")%></li>
    <li><%= image_tag("tastes/t16.jpg")%></li>
    <li><%= image_tag("tastes/t17.jpg")%></li>
    <li><%= image_tag("tastes/t18.jpg")%></li>
    <li><%= image_tag("tastes/t19.jpg")%></li>
    <li><%= image_tag("tastes/t20.jpg")%></li>
    <li><%= image_tag("tastes/t21.jpg")%></li>
    <li><%= image_tag("tastes/t22.jpg")%></li>
    <li><%= image_tag("tastes/t23.jpg")%></li>
    <li><%= image_tag("tastes/t24.jpg")%></li>
    <li><%= image_tag("tastes/t25.jpg")%></li>
    <li><%= image_tag("tastes/t26.jpg")%></li>
    <li><%= image_tag("tastes/t27.jpg")%></li>
    <li><%= image_tag("tastes/t28.jpg")%></li>
    <li><%= image_tag("tastes/t29.jpg")%></li>
    <li><%= image_tag("tastes/t30.jpg")%></li>
    <li><%= image_tag("tastes/t31.jpg")%></li>
    <li><%= image_tag("tastes/t32.jpg")%></li>
    <li><%= image_tag("tastes/t33.jpg")%></li>
    <li><%= image_tag("tastes/t34.jpg")%></li>
    <li><%= image_tag("tastes/t35.jpg")%></li>
    <li><%= image_tag("tastes/t36.jpg")%></li>
    <li><%= image_tag("tastes/t37.jpg")%></li>
    <li><%= image_tag("tastes/t38.jpg")%></li>
    <li><%= image_tag("tastes/t39.jpg")%></li>
    <li><%= image_tag("tastes/t40.jpg")%></li>
    <li><%= image_tag("tastes/t41.jpg")%></li>
    <li><%= image_tag("tastes/t42.jpg")%></li>
    <li><%= image_tag("tastes/t43.jpg")%></li>
    <li><%= image_tag("tastes/t44.jpg")%></li>
    <li><%= image_tag("tastes/t45.jpg")%></li>
    <li><%= image_tag("tastes/t46.jpg")%></li>
    <li><%= image_tag("tastes/t47.jpg")%></li>
    <li><%= image_tag("tastes/t48.jpg")%></li>
    <li><%= image_tag("tastes/t49.jpg")%></li>
    <li><%= image_tag("tastes/t50.jpg")%></li>
    <li><%= image_tag("tastes/t51.jpg")%></li>
    <li><%= image_tag("tastes/t52.jpg")%></li>
    <li><%= image_tag("tastes/t53.jpg")%></li>
    <li><%= image_tag("tastes/t54.jpg")%></li>
    <li><%= image_tag("tastes/t55.jpg")%></li>

  </ul>
  <script type="text/javascript">

    $(document).ready(function() {
        $("#carus").flexisel({
            visibleItems: 5,
            itemsToScroll: 1,
            autoPlay: {
                enable: true,
                interval: 5000,
                pauseOnHover: true
            }
        });
    });
  </script>
</div>
